/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
  main, .controls__section {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
  }


  main {
    margin-top: 5%;
  }


  .container > .card {
    width: 90px;
    height: 120px;
  }


  main, main > .container {
    height: 600px;
  }


  .shadow {
    box-shadow: 5px 10px 25px 5px rgba(0,0,0,0.75);
  }
}



/* KEYFRAMES */

/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-12px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(6px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-9px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(9px, 0, 0);
  }
}

/* https://paulund.co.uk/create-pulse-effect-with-css3-animation */

@keyframes grow-and-shrink {
  0% { transform: scale(1); }
  25% { transform: scale(1); }
  70% { transform: scale(1.8); }
  80% {transform: scale(1.5);}
  90% {transform: scale(1.2)}
  100% { transform: scale(1); }
}

/* STYLES */

/* COMMON STYLES BEGIN */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


*:after, *:before, * {
  box-sizing: border-box;
}


html, body {
  height: 100%;
}


main {
  text-align: center;
}


body {
  background: radial-gradient(circle, #2f7ca3, #8cade2, #28d9ed);
}

/* COMMON STYLES END */

/* CONTROL BUTTONS AND GAME PROGRESS */

.controls {
  display: flex;
  flex-wrap: wrap;
}


.style__icon {
  font-size: 1.6em;
  color: #312f60;
  padding-right: 15px;
  padding-left: 15px;
  width: 25%;
}


.star__color {
  color: #e2e046;
}


.blue__background {
  background-color: #0f54c4;
  color: white;
}


.align__right {
  float: right;
}


.align__left {
  float: left;
}


/* MAIN GAME CONTENT STYLES BEGIN */

.container {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, #0f54c4, #2995d8, #28d9ed);
  padding-top: 15px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}


.card {
  background: linear-gradient(#317be2, #38bde2);
  width: 50px;
  height: 80px;
  border: 1px solid #222;
  border-radius: 10px;
  margin: 10px auto;
  text-align: center;
  transform: rotateY(180deg);
  transition: transform 0.5s ease;
  box-shadow: 11px 10px 24px -3px rgba(0,0,0,0.75);
}


.card:hover {
  border: 1px solid #666;
}


.card > span {
  color: #fff;
  font-size: 2em;
  margin: calc(100% - 45%) auto;
}

/* MAIN GAME CONTENT STYLES END */


/* CARD EFFECTS BEGIN */

.open__card {
  transform: rotateY(0deg);
}


.icon {
  visibility: hidden;
}


.successful__match {
  background: linear-gradient(#57e0a0, #54d6dd);
  animation-name: grow-and-shrink;
  animation-duration: 500ms;
  transform-origin: 65% 65%;
  animation-timing-function: ease;
}


.failed__match {
  animation: shake 0.65s cubic-bezier(.36,.07,.19,.97) both;
  background: linear-gradient(#e83a04, #c66e53)
}

/* CARD EFFECTS END */

/* MODAL BEGIN */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  left: 0;
  top: 0;
  overflow: hidden;
}


.modal__content {
  position: relative;
  z-index: 10;
  background-color: #cfcfcf;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  height: 300px;
}


.display__modal {
  display: block;
}


.close__button {
  float: right;
  font-size: 1.5em;
}


.close__button:hover {
  color: #eee;
}


.greet__message {
  font-size: 1.15em;
  color: #2995d8;
  line-height: 2.5em;
}


.congrats {
  font-size: 1.3em;
  background-color: #000;
}


.modal__star__color {
  color: #b7920c;
}

/* MODAL END */
